{%- liquid
  render 'css', css: 'section-announcement-bar.css'

  assign announcement_mode = section.settings.text_block_behaviour
  assign text_slide_blocks = section.blocks | where: 'type', 'text-slide'
  assign text_slide_blocks_count = text_slide_blocks.size

  if announcement_mode == 'marquee'
    render 'css', css: 'section-marquees.css'
    assign marquee_duration = text_slide_blocks_count | times: section.settings.slider_autoplay_interval | times: 10
  endif

  assign slider_interval_ms = section.settings.slider_autoplay_interval | times: 1000
-%}

{%- style -%}
  #shopify-section-{{ section.id }} .text--label,
  #shopify-section-{{ section.id }} .text--link,
  #shopify-section-{{ section.id }} .text-label,
  #shopify-section-{{ section.id }} .text-link,
  #shopify-section-{{ section.id }} .countdown-timer__message {
    font-weight: {{ section.settings.font_weight }};
  }

  {%- if announcement_mode == 'marquee' -%}
    #shopify-section-{{ section.id }} > div {
      --marquee-duration: {{ marquee_duration | times: 1 }}s;
    }

    #shopify-section-{{ section.id }} > .swiper-wrapper {
      transition-timing-function: linear;
    }

    @media screen and (min-width: 750px) {
      #shopify-section-{{ section.id }} > div {
        --marquee-duration: {{ marquee_duration }}s;
      }
    }
  {%- endif -%}
{%- endstyle -%}

{%- if announcement_mode != 'marquee' -%}
  <script src="{{- 'announcement-bar-slider.js' | asset_url -}}" defer="defer"></script>
  {%- capture announcement_slider_options -%}
    {
      {%- if announcement_mode == 'static' -%}
        "slidesPerView": 1,
        "slidesPerViewDesktop": {{ text_slide_blocks_count }},
        "loop": false,
        "autoplay": { "delay": {{ slider_interval_ms }} }
      {%- elsif announcement_mode == 'slider' -%}
        "slidesPerViewDesktop": 1,
        "loop": true,
        "autoplay": { "delay": {{ slider_interval_ms }} }
      {%- else -%}
        "loop": false,
        "autoplay": false
      {%- endif -%}
    }
  {%- endcapture -%}
{%- endif -%}

{%- capture text_slideshow_markup -%}
  {%- if text_slide_blocks_count == 1 -%}
    <div class="announcement-bar__slider">
      <div class="announcement-bar__text-content text--label icon">
        {% render 'icon', icon_name: text_slide_blocks.first.settings.icon, custom_icon: text_slide_blocks.first.settings.custom_icon %}
        {{ text_slide_blocks.first.settings.content }}
      </div>
    </div>
  {%- elsif announcement_mode != 'marquee' -%}
    <announcement-bar-slider
      class="swiper announcement-bar__slider"
      data-autoplay-interval="{{ slider_interval_ms }}"
      data-swiper-options='{{ announcement_slider_options | strip_newlines | replace: "  ", "" }}'
    >
      <div class="swiper-wrapper">
        {%- for block in text_slide_blocks -%}
          {%- if block.settings.content == blank -%}
            {%- continue -%}
          {%- endif -%}
          <div class="swiper-slide">
            <div class="announcement-bar__text-content text--label icon">
              {% render 'icon', icon_name: block.settings.icon, custom_icon: block.settings.custom_icon %}
              {{ block.settings.content }}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </announcement-bar-slider>
  {%- else -%}
    {%- capture marquee_items -%}
      {%- for block in text_slide_blocks -%}
        {%- if block.settings.content == blank -%}
          {%- continue -%}
        {%- endif -%}
        <li class="marquee__item icon text--label">
          {% render 'icon', icon_name: block.settings.icon, custom_icon: block.settings.custom_icon %}
          {{ block.settings.content }}
        </li>
      {%- endfor -%}
    {%- endcapture -%}

    {%- liquid
      assign marquee_repeat_target = 12
      assign marquee_repeat_start = 1
      assign marquee_repeat_end = marquee_repeat_target | divided_by: text_slide_blocks_count | ceil
    -%}

    <div class="announcement_bar__marquee marquee--hover-pause enable-animation">
      <ul class="marquee__content">
        {%- for i in (marquee_repeat_start..marquee_repeat_end) -%}
          {{ marquee_items }}
        {%- endfor -%}
      </ul>
      <ul aria-hidden="true" class="marquee__content">
        {%- for i in (marquee_repeat_start..marquee_repeat_end) -%}
          {{ marquee_items }}
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="announcement-bar bar js-announcement-bar">
    <div class="container {{ section.settings.section_width }}">
      <div class="announcement-bar__wrapper">
        {%- assign slideshow_rendered = false -%}
        {%- for block in section.blocks -%}
          {%- liquid
            assign visibility_class = block.settings.show_on
            case visibility_class
              when 'mobile'
                assign visibility_class = 'large-up-hide'
              when 'desktop'
                assign visibility_class = 'small-hide medium-hide'
              else
                assign visibility_class = ''
            endcase
          -%}

          {%- case block.type -%}
            {%- when 'link' -%}
              <a href="{{ block.settings.link }}" class="announcement-bar__link icon text-link {{ visibility_class }}" aria-label="{{ block.settings.link_label }}">
                <span class="text-link--on-hover">
                  {%- liquid
                    assign icon_alt = block.settings.link_label
                    render 'icon', icon_name: block.settings.icon, custom_icon: block.settings.custom_icon, icon_alt: icon_alt
                  -%}
                  {{ block.settings.link_label }}
                </span>
              </a>

            {%- when 'text-slide' -%}
              {%- unless slideshow_rendered -%}
                {%- if block.settings.content != blank -%}
                  {{ text_slideshow_markup }}
                  {%- assign slideshow_rendered = true -%}
                {%- endif -%}
              {%- endunless -%}

            {%- when 'timer' -%}
              <div class="announcement-bar__timer text-label {{ visibility_class }}" {{ block.shopify_attributes }}>
                {%- render 'countdown-timer',
                  id: block.id,
                  column_type: 'row',
                  custom_text: 'Ends in',
                  timer_text_first_letter: true,
                  timezone: settings.timezone,
                  timer_year: block.settings.timer_year,
                  timer_month: block.settings.timer_month,
                  timer_day: block.settings.timer_day,
                  timer_hour: block.settings.timer_hour,
                  timer_minute: block.settings.timer_minute,
                  show_timer_days: block.settings.show_timer_days,
                  show_timer_hours: block.settings.show_timer_hours,
                  show_timer_minutes: block.settings.show_timer_minutes,
                  show_timer_seconds: block.settings.show_timer_seconds,
                  timer_end_message: block.settings.timer_end_message,
                  timer_layout: 2
                -%}
              </div>

            {%- when 'localization' -%}
              <div class="announcement-bar__localization {{ visibility_class }}" {{ block.shopify_attributes }}>
                {%- render 'country-drawer', append_id: block.id, type: 'trigger' -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "tag": "section",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "select",
      "id": "text_block_behaviour",
      "label": "t:sections.announcement-bar.settings.text_block_behaviour.label",
      "options": [
        {
          "value": "static",
          "label": "t:sections.announcement-bar.settings.text_block_behaviour.options.options__1.label"
        },
        {
          "value": "marquee",
          "label": "t:sections.announcement-bar.settings.text_block_behaviour.options.options__2.label"
        },
        {
          "value": "slider",
          "label": "t:sections.announcement-bar.settings.text_block_behaviour.options.options__3.label"
        }
      ],
      "default": "slider"
    },
    {
      "type": "range",
      "id": "slider_autoplay_interval",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.slider_autoplay_interval.label",
      "default": 3
    },
    {
      "type": "header",
      "content": "t:sections.global.header.fine_tuning.content",
      "info": "t:sections.global.header.fine_tuning.info"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "t:sections.global.element.font.weight.label",
      "options": [
        {
          "value": "400",
          "label": "t:sections.global.element.font.weight.options.normal.label"
        },
        {
          "value": "500",
          "label": "t:sections.global.element.font.weight.options.medium.label"
        },
        {
          "value": "700",
          "label": "t:sections.global.element.font.weight.options.bold.label"
        }
      ],
      "default": "700"
    },
    {
      "type": "header",
      "content": "t:sections.global.header.settings.content",
      "info": "t:sections.global.header.settings.info"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:sections.global.section_width.label",
      "options": [
        {
          "value": "max-w-page",
          "label": "t:sections.global.section_width.options.page.label"
        },
        {
          "value": "max-w-fluid",
          "label": "t:sections.global.section_width.options.fluid.label"
        },
        {
          "value": "max-w-full",
          "label": "t:sections.global.section_width.options.full.label"
        }
      ],
      "default": "max-w-fluid"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.global.color_scheme.label",
      "default": "scheme-2"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "t:sections.announcement-bar.blocks.link.name",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "id": "show_on",
          "label": "t:sections.global.settings.show_on.label",
          "options": [
            {
              "value": "desktop",
              "label": "t:sections.global.settings.show_on.options.desktop.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.global.settings.show_on.options.mobile.label"
            },
            {
              "value": "both",
              "label": "t:sections.global.settings.show_on.options.both.label"
            }
          ],
          "default": "desktop"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.global.element.link_label.label",
          "default": "Link 1"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.global.element.link.label",
          "default": "/"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "t:sections.global.element.icon.label",
          "info": "t:sections.global.element.icon.info",
          "default": "theme-box"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:sections.global.element.icon.custom_icon.label",
          "info": "t:sections.global.element.icon.custom_icon.info"
        }
      ]
    },
    {
      "type": "timer",
      "name": "t:sections.announcement-bar.blocks.timer.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "show_on",
          "label": "t:sections.global.settings.show_on.label",
          "options": [
            {
              "value": "desktop",
              "label": "t:sections.global.settings.show_on.options.desktop.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.global.settings.show_on.options.mobile.label"
            },
            {
              "value": "both",
              "label": "t:sections.global.settings.show_on.options.both.label"
            }
          ],
          "default": "desktop"
        },
        {
          "type": "number",
          "id": "timer_year",
          "label": "t:sections.global.settings.timer.settings.timer_year.label",
          "default": 2024
        },
        {
          "type": "select",
          "id": "timer_month",
          "label": "t:sections.global.settings.timer.settings.timer_month.label",
          "options": [
            {
              "value": "01",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__1"
            },
            {
              "value": "02",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__2"
            },
            {
              "value": "03",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__3"
            },
            {
              "value": "04",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__4"
            },
            {
              "value": "05",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__5"
            },
            {
              "value": "06",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__6"
            },
            {
              "value": "07",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__7"
            },
            {
              "value": "08",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__8"
            },
            {
              "value": "09",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__9"
            },
            {
              "value": "10",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__10"
            },
            {
              "value": "11",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__11"
            },
            {
              "value": "12",
              "label": "t:sections.global.settings.timer.settings.timer_month.options.options__12"
            }
          ],
          "default": "01"
        },
        {
          "type": "range",
          "id": "timer_day",
          "label": "t:sections.global.settings.timer.settings.timer_day.label",
          "min": 1,
          "max": 31,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "timer_hour",
          "label": "t:sections.global.settings.timer.settings.timer_hour.label",
          "min": 0,
          "max": 23,
          "step": 1,
          "default": 0,
          "unit": "h"
        },
        {
          "type": "range",
          "id": "timer_minute",
          "label": "t:sections.global.settings.timer.settings.timer_minute.label",
          "min": 0,
          "max": 59,
          "step": 1,
          "default": 0,
          "unit": "m"
        },
        {
          "type": "inline_richtext",
          "id": "timer_end_message",
          "label": "t:sections.callout-banner.settings.timer_end_message.label",
          "info": "t:sections.callout-banner.settings.timer_end_message.info",
          "default": "Sale has ended"
        },
        {
          "type": "header",
          "content": "t:sections.global.header.parts_display_settings.content"
        },
        {
          "type": "checkbox",
          "id": "show_timer_days",
          "label": "t:sections.global.settings.timer.settings.show_timer_days.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_timer_hours",
          "label": "t:sections.global.settings.timer.settings.show_timer_hours.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_timer_minutes",
          "label": "t:sections.global.settings.timer.settings.show_timer_minutes.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_timer_seconds",
          "label": "t:sections.global.settings.timer.settings.show_timer_seconds.label",
          "default": true
        }
      ]
    },
    {
      "type": "localization",
      "name": "t:sections.global.settings.localization.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "show_on",
          "label": "t:sections.global.settings.show_on.label",
          "options": [
            {
              "value": "desktop",
              "label": "t:sections.global.settings.show_on.options.desktop.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.global.settings.show_on.options.mobile.label"
            },
            {
              "value": "both",
              "label": "t:sections.global.settings.show_on.options.both.label"
            }
          ],
          "default": "desktop"
        }
      ]
    },
    {
      "type": "text-slide",
      "name": "t:sections.announcement-bar.blocks.text-slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.announcement-bar.blocks.text-slide.settings.content.label",
          "default": "<p>Welcome to our store</p>"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "t:sections.global.element.icon.label",
          "info": "t:sections.global.element.icon.info",
          "default": "theme-box"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:sections.global.element.icon.custom_icon.label",
          "info": "t:sections.global.element.icon.custom_icon.info"
        }
      ]
    }
  ]}
{% endschema %}
